<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Royal Estates</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title>
      My Estates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="savedEstates.length < 1">
    <ion-card>
      <ion-card-content>Select the button below and find new locations</ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="savedEstates.length > 0">
    <p class="find-location-text">Saved Estates</p>
    <ion-list>
      <ion-card *ngFor="let estate of savedEstates">
        <ion-card-content>
          <ion-thumbnail slot="start" >
            <img src="{{estate.image}}">
          </ion-thumbnail>
          <h2>Ref No.{{estate.refNumber}}</h2>
          <p style="font-size: 16px;">{{estate.type}}, {{estate.bedrooms}} Bedrooms</p>
          <p style="font-size: 14px;">{{estate.locationName}}, {{estate.region}}</p>
          <ion-button fill="clear" slot="end" (click)="onClick(estate.id, estate.region, estate.locationId, estate.locationName, estate.refNumber, estate.latitude, estate.longitude)">View</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <p class="find-location-text">To save more estates, select a location, then you can save estates from their estate overview page.</p>
  </div>

  <ion-button class="find-location-button" expand="full"  color="primary" href="/locations">
    <ion-icon name="search"></ion-icon>
    Find a Location
  </ion-button>
</ion-content>
